body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
ul{
    list-style: none;
    margin-left: 0px;
}
ul li{
    padding: 2px;
    background: rgb(127, 127, 127);
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 1px;
}
header{
    background: rgb(174, 172, 172);
    padding: 0.5rem;
    text-align: center;
}
input[type=text]{
   width: 350px; 
}
#my-form{
    padding: 2rem;
    text-align: center;
    background: rgb(218, 58, 58);
    
}
#my-form label{
    display: block;
}
h1{
    text-align: center;
}
.container{
   
   margin-top: 50px;
   margin-left: 450px;
   margin-bottom: 100px;
   width: 350px;
   height:400px;
   overflow: auto;
   padding: 2rem 2rem;
   background-color: rgb(194, 194, 197);
}
.bg-dark{
    background: pink;
    color: aquamarine;
}
.error{
    background: orange;
    color:red;
    padding: 5px;
    margin: 5px;

}
.btn{
    text-align: center;
    display: block;
    width: 100;
    padding: 10px 15px;
    background-color: cadetblue;
    margin-left: 150px;
}